.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container .projectsContainer .cardFrame a {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

.container .projectsContainer .cardFrame a:hover {
  transform: scale(1.05);
}

.container .projectsContainer .cardFrame img {
  max-width: 250px;
  max-height: 250px;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 4px;
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
  transition: transform 200ms ease-in-out;
}

.container .projectsContainer .cardFrame img:hover {
  transform: scale(1.04);
  opacity: 0.9;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cardFrame {
  border: solid 2px #222;
  border-radius: 25px;
}

.cardFrame button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: 500;
  margin: 20px 3px;
}

@media (width >= 800px) {
  .projectsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}
